<h1>Email Box</h1>

<table class="table table-dark">
  <thead>

    <tr>
      <th scope="col">#</th>
      <th scope="col">Object</th>
      <th scope="col">Body</th>      
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% i = 1 %>
    <% @emails.each do |email| %>
    <tr>
      <th scope="row"><%= i %></th>
      <td><%=email.object%></td>
      <td><%=email.body%></td>
      <td><%= link_to "Remove", email, method: :delete, data: { confirm: "Are you sure?" } %></td>
      <% i = i + 1%>
    </tr>

  </tbody>
  <%end%>

</table>